{% macro render_pagination(pagination,endpoint) %}
    <div class="row">
        <div class="col-sm-5">
            <div class="dataTables_info" id="example2_info"
                 role="status" aria-live="polite">第 {{ pagination.page }} 页
                共 {{ pagination.pages }} 页
            </div>
        </div>
        <div class="col-sm-7">
            <div class="dataTables_paginate paging_simple_numbers"
                 id="example2_paginate">
                <ul class="pagination">
                    {% if pagination.has_prev %}
                        <li class="paginate_button previous"
                            id="example2_previous"><a href="{{ url_for(endpoint,page=pagination.prev_num) }}"
                                                      aria-controls="example2"
                                                      data-dt-idx="0"
                                                      tabindex="0">上一页</a>
                        </li>

                    {% else %}
                        <li class="paginate_button previous disabled"
                            id="example2_previous"><a href="#"
                                                      aria-controls="example2"
                                                      data-dt-idx="0"
                                                      tabindex="0">上一页</a>
                        </li>
                    {% endif %}

                    {% for page in pagination.iter_pages() %}
                        <li class="paginate_button {{ 'acitve' if pagination.page == page }}"><a
                                href="{{ url_for(endpoint,page=page) }}"
                                aria-controls="example2"
                                data-dt-idx="1"
                                tabindex="0">{{ page }}</a>
                        </li>
                    {% endfor %}

                    {% if pagination.has_next %}
                        <li class="paginate_button next"
                            id="example2_next"><a href="{{ url_for(endpoint,page=pagination.next_num) }}"
                                                  aria-controls="example2"
                                                  data-dt-idx="7"
                                                  tabindex="0">下一页</a>
                        </li>
                    {% else %}
                        <li class="paginate_button next disabled"
                            id="example2_next"><a href="#"
                                                  aria-controls="example2"
                                                  data-dt-idx="7"
                                                  tabindex="0">下一页</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </div>

{% endmacro %}

{#{% macro render_admin_pagination(pagination,endpoint) %}#}
{#    <div class="row">#}
{#        <div class="col col-xs-4">Page {{ pagination.page }}#}
{#            of {{ pagination.pages }}#}
{#        </div>#}
{#        <div class="col col-xs-8">#}
{#            <ul class="pagination hidden-xs pull-right">#}
{##}
{#                {% for page in pagination.iter_pages() %}#}
{#                    <li>#}
{#                        <a href="{{ url_for(endpoint,page=page) }}">{{ page }}</a>#}
{#                    </li>#}
{#                {% endfor %}#}
{##}
{#            </ul>#}
{#            <ul class="pagination visible-xs pull-right">#}
{#                {% if pagination.has_prev %}#}
{#                    <li>#}
{#                        <a href="{{ url_for(endpoint,page=pagination.prev_num) }}">«</a>#}
{#                    </li>#}
{#                {% endif %}#}
{#                {% if pagination.has_next %}#}
{##}
{#                    <li>#}
{#                        <a href="{{ url_for(endpoint,page=pagination.next_num) }}">»</a>#}
{#                    </li>#}
{#                {% endif %}#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#{% endmacro %}#}