{% macro render_admin_pagination(pagination,endpoint) %}
    <div class="row">
        <div class="col col-xs-4">Page {{ pagination.page }} of {{ pagination.pages }}
        </div>
        <div class="col col-xs-8">
            <ul class="pagination hidden-xs pull-right">

                {% for page in pagination.iter_pages() %}
                <li><a href="{{ url_for(endpoint,page=page) }}">{{ page }}</a></li>
                {% endfor %}

            </ul>
            <ul class="pagination visible-xs pull-right">
                {% if pagination.has_prev %}
                <li><a href="{{ url_for(endpoint,page=pagination.prev_num) }}">«</a></li>
                {% endif %}
                {% if pagination.has_next %}

                <li><a href="{{ url_for(endpoint,page=pagination.next_num) }}">»</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endmacro %}