{% extends 'admin/admin-base.html' %}
{% import 'admin/_macro.html' as helper %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">博文列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper"
                         class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example2"
                                       class="table table-bordered table-hover dataTable"
                                       role="grid"
                                       aria-describedby="example2_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0"
                                            aria-controls="example2" rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending">
                                            ID
                                        </th>
                                        <th class="sorting" tabindex="0"
                                            aria-controls="example2" rowspan="1"
                                            colspan="1"
                                            aria-label="Browser: activate to sort column ascending">
                                            标题
                                        </th>
                                        <th class="sorting" tabindex="0"
                                            aria-controls="example2" rowspan="1"
                                            colspan="1"
                                            aria-label="Platform(s): activate to sort column ascending">
                                            所属分类
                                        </th>
                                        <th class="sorting" tabindex="0"
                                            aria-controls="example2" rowspan="1"
                                            colspan="1"
                                            aria-label="Platform(s): activate to sort column ascending">
                                            更新时间
                                        </th>
                                        <th class="sorting" tabindex="0"
                                            aria-controls="example2" rowspan="1"
                                            colspan="1"
                                            aria-label="Engine version: activate to sort column ascending">
                                            是否显示
                                        </th>
                                        <th class="sorting" tabindex="0"
                                            aria-controls="example2" rowspan="1"
                                            colspan="1"
                                            aria-label="Engine version: activate to sort column ascending">
                                            编辑
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for post in posts.items %}
                                        <tr role="row" class="{{ loop.cycle('odd','even') }}">
                                            <td class="sorting_1">{{ post.id }}</td>
                                            <td>{{ post.title }}</td>
                                            <td>{{ post.posttype.categoryName }}</td>
                                            <td>
                                                {{ post.timestamp }}
                                            </td>
                                            <td><span
                                                    class="label label-{{ 'warning' if post.visibled else 'success' }}">{{ '隐藏' if post.visibled else '显示' }}</span>
                                            </td>
                                            <td>
                                                <a href="{{ url_for('admin.post_edit',id=post.id) }}"
                                                   title="修改"><i
                                                        class="fa fa-pencil"></i></a>
                                                <a onclick="delPost('{{ url_for('admin.post_del',id=post.id) }}')"
                                                   title="删除"><i
                                                        class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}


                                    </tbody>
                                    <tfoot>

                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        {{ helper.render_pagination(posts,'.post_list') }}


                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

    <div class="modal fade" id="delPostModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">提示框</h4>
                </div>
                <div class="modal-body">
                    删除后将不可恢复
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button id="delPostCli" type="button" class="btn btn-primary">确定</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static',filename='admin/admin.js') }}"></script>
{% endblock %}